@import "https://fonts.googleapis.com/css?family=Poppins";
* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}
.container-main {
	max-width: 100%;
}
.jumbotron {
	background: url(../img/pizza.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	max-width: 100%;
}
.container1 {
	color: rgb(12, 107, 145);
	font-style: bold;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

.content-section {
	margin: 1em;
}

.container {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1.5em;
}
.section-header {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: #333;
	text-align: center;
	font-size: 4.5em;
}
.btn {
	text-align: center;
	vertical-align: middle;
	padding: 0.67em 0.67em;
	cursor: pointer;
}

.btn-header {
	margin: 0.5em 15% 2em 15%;
	color: white;
	border: 2px solid #2d9cdb;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0;
	font-size: 1.5em;
	font-weight: lighter;
	padding-left: 2em;
	padding-right: 2em;
}

.btn-header:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.btn-play {
	display: block;
	margin: 0 auto;
	color: #2d9cdb;
	font-size: 4em;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	padding: 0;
	text-align: center;
}

.btn-primary {
	color: white;
	background-color: #56ccf2;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
}

.btn-primary:hover {
	background-color: #2d9cdb;
}
.shop-item {
	margin: 30px;
}

.shop-item-title {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: #333;
	margin-bottom: 15px;
}

.shop-item-image {
	height: 250px;
	width: 20em;
}
#crust {
	height: 10em;
	width: 15em;
}

.shop-item-details {
	display: flex;
	align-items: center;
	padding: 5px;
}

.shop-item-price {
	flex-grow: 1;
	color: #333;
}

.shop-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
